# Ignore virtual environment
venv/
.venv/
.env/

*.prof
*.png

# ignore media folders
videos/
mt_images/
models/
logs/

images/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace


rl/checkpoints/
rl/runs/

moe_sac/checkpoints/
moe_sac/runs/

old_stuff/

*.mp4